/* Rectangle 466 */
html,
body,
.cover {
    height: 100%;
    width: 100%!important;
}

#test{
position: absolute;
width: 1262px;
height: 92px;
left: 0px;
top: 0px;
text-decoration: none;

background: #010216;
}
#logo{

    margin-top: 15px;
}
a{
    text-decoration: none;
    text-emphasis: none;
}

#home{
    position: absolute;
width: 54px;
height: 50px;
left: 334px;
top: 21px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 50px;
/* identical to box height, or 278% */


color: #FFFFFF;
}
a{
    text-decoration: none!important;
}
.api{
    position: absolute;
width: 500px;
height: 21px;
left: 121px;
top: 142px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #828282;
}

#ellipse{
    position: absolute;
width: 54.84px;
height: 55.91px;
left: 140px;
top: 214px;
border-radius: 100%;

background: #4E93D1;
}

#excel{
    
position: absolute;
width: 118px;
height: 35px;
left: 211px;
top: 223px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;

color: #676666;
}
#interns{
    /* By HNGi7 Interns | Updated 1 day ago | Email */


position: absolute;
width: 325px;
height: 19px;
left: 388px;
top: 264px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #5A5656;
}
#rectan{
    position: absolute;
width: 1060px;
height: 0.5px;
left: 118px;
top: 307px;

background: #A29F9F;
}
#result{
    position: absolute;

height: 42px;
left: 121px;
top: 356px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 28px;
line-height: 42px;
/* identical to box height */


color: #000000;

}
#rectangle{
    
position: absolute;
width: 1215px;
height: 1px;
left: 0px;
top: 417px;

background: #FFFFFF;
border: 0.3px solid #010216;
}

#runtime{
    
position: absolute;
width: 66px;
height: 24px;
left: 903px;
top: 213px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #000000;

}

#time{
    position: absolute;
width: 104px;
height: 39px;
left: 893px;
top: 240px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 26px;
line-height: 39px;
/* identical to box height */


color: #000000;
}
#rectangup{
    position: absolute;
width: 1px;
height: 78px;
left: 1030px;
top: 201px;

background: #C4C4C4;
}
.btn{
    width: 115px;
    height: 40px;
    font-family: Poppins;
font-style: normal;
font-weight: bold;
}

#rate{
    position: absolute;
width: 106px;
height: 40px;
left: 1045px;
top: 208px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #000000;
}

#per{
position: absolute;
width: 59px;
height: 39px;
left: 1074px;
top: 240px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 26px;
line-height: 39px;
/* identical to box height */


color: #000000;
}
#back{
    position: absolute;
width: 43px;
height: 27px;
left: 152px;
top: 863px;

/* identical to box height */



}
#backt{
    position: absolute;
width: 43px;
height: 27px;
left: 200px;
top: 853px;
font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
color: #000000;

}
.icon{
    position: relative;
    margin: 25%;
    margin-left: 8px;
}
#footer{
    position: absolute;
width: 200px;
height: 27px;
left: 50%;
top: 924px;
font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #000000;
}
#contain{
    position: absolute;
width: 84px;
height: 246px;
left: 203px;
top: 121px;

background: #FFFFFF;
border: 0.7px solid #F4F4F4;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
border-radius: 5px;
transform: rotate(90deg);
}

.navbar-inverse {
height: 92px;
background: #010216;
}
.navbar-inverse .navbar-nav > li > a{
    
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 50px;
/* identical to box height, or 278% */


color: #FFFFFF;
}

.navbar-nav{
    margin-left: 50px;
}
#results{
    position: absolute;
width: 1057px;
height: 340px;
left: 109px;
top: 476px;

background: #FFFFFF;
border: 1px solid #828282;
box-sizing: border-box;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #7596f1;
}

@media (max-width: 720px) {
    
    .navbar-collapse {
        background: #010216;
    }
}

.input{
    position: absolute;
width: 755px;
height: 68px;
left: 242px;
top: 554px;

background: #FFFFFF;
border: 1px solid #828282;
box-sizing: border-box;
border-radius: 5px;
}
#button{
    position: absolute;
width: 261px;
height: 45px;
left: 242px;
top: 672px;
text-decoration-color: white;
background: #261C9E;
border: 1px solid #261C9E;
box-sizing: border-box;
border-radius: 2px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 37px;
/* identical to box height */


color: #FFFFFF;
}