{% extends 'base.html'%}
{% load static %}

{% block content %}
        <!-- Main Content -->
        <main>
            <div class="container-fluid mt-5 pt-lg-5">
                <div class="row mx-3 mx-md-5 px-xl-5 pt-3 mt-2">
                    <div class="col-lg-6 px-0 my-lg-2 my-xl-5 py-lg-3">
                        <p class="landing-text">
                            About Us
                        </p>
                        <p class="text-secondary">
                            Get to know the team of developers behind the parser project
                        </p>
                    </div>
                    <div class="col-lg-6 px-0">
                        <img src="/static/img/undraw_team_spirit_hrr4.svg" class="img-fluid d-block mx-auto w-50"
                            alt="img">
                    </div>
                    <div class="col-lg-12 px-0 text-center my-5">
                        <span class="feature-heading mr-3">The Team</span>
                    </div>
                    <div class="col-lg-12">
                        <div class="card-deck">
                            <div class="card">
                                <img src="/static/img/optimus.jpg" class="card-img-top" alt="pic">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Optimus Prime</h5>
                                <span class="description">@Optimus</span><br />
                                <span class="description">Backend(Python)</span>
                                <br>
                                <span class="description">HNGi7 Intern</span>
                               
                                </div>
                            </div>
                            <div class="card">
                                <img src="/static/img/vic.jpg" class="card-img-top" alt="pic">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Victor Okonkwo</h5>
                                    <span class="description">@Vic</span><br />
                                <span class="description">Frontend</span>
                                <br>
                                <span class="description">HNGi7 Intern</span>
                                
                                </div>
                            </div>
                            <div class="card">
                                <img src="/static/img/ferrum.jpg" class="card-img-top" alt="pic">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Alabi Feranmi</h5>
                                    <span class="description">@Ferrum</span><br />
                                <span class="description">Backend(Python)</span>
                                <br>
                                <span class="description">HNGi7 Intern</span>
                                
                                </div>
                            </div>
                            <div class="card">
                                <img src="/static/img/shinra.jpg" class="card-img-top" alt="pic">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Ademola Akinsola</h5>
                                    <span class="description">@shols232</span><br />
                                <span class="description">Backend(Python)</span> <br>
                                <span class="description">HNGi7 Intern</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
 
        {% endblock content %}