{% extends 'base.html'%}
{% load static %}

{% block content %}

        <!-- Main Content -->
            <div class="container-fluid mt-2 mt-md-3 mt-xl-5 px-3 px-md-4 px-lg-5 px-xl-5">
                <!-- Bread Crumbs -->
                <nav aria-label="breadcrumb" class="my-4 mt-xl-0 px-md-3 px-xl-5 px-lg-4">
                    <ol class="breadcrumb mx-3 py-0 my-0 px-0 bg-transparent">
                        <li class="breadcrumb-item">Your APIs</li>
                        <li class="breadcrumb-item">Excel API</li>
                    </ol>
                </nav>
                <div class="row px-md-3 px-lg-4 px-xl-5">
                    <div class="col-9 col-md-5 col-lg-4 col-xl-3 pr-0 mt-xl-2">
                        <div class="card shadow-sm ml-3 mr-0 custom-card">
                            <div class="card-body py-0 d-flex justify-content-start">
                                <img src="/static/img/excel-icon.svg" class="img-fluid my-2 mr-1 my-md-3 mr-md-2" />
                                <span class="font-weight-bold card-head my-4 ml-2"><b>Excel API</b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 mt-3 mt-lg-auto mx-3 pl-xl-0">
                        <p class="mb-1 description">
                            By <span class="text-info">HNGi7 Interns |</span> Updated 1 day
                            ago <span class="text-info">| Email</span>
                        </p>
                    </div>
                    <div class="col-11 col-lg-12 mx-auto mx-lg-3 mb-xl-2">
                        <hr class="mt-1 mt-md-2 mt-lg-3" />
                    </div>
                    <div
                        class="col-10 col-md-12 col-lg-12 ml-3 pr-md-5 mt-lg-0 mb-lg-3 d-flex flex-column flex-md-row justify-content-md-between">
                        <div class="d-flex justify-content-between justify-content-md-start mt-md-4">
                            <span class="feature-heading mr-3 active">Excel APi</span>
                            <span class="feature-heading ml-3">File Upload</span>
                        </div>
                        <!--
                        <a href="#"
                            class="btn btn-dark py-2 px-md-4 mt-3 mt-md-0 mb-3 mx-auto mx-md-0 endpoint-btn d-flex"><img
                                src="/static/img/endpoint-icon.svg" alt="icon" class="img-fluid mr-2 my-lg-1" />
                            Test Endpoints</a> -->
                    </div>
                </div>
            </div>
            <div class="content-split mb-5 mt-0"></div>
            <div class="container">
                <div class="row mb-lg-5 pb-lg-5">
                    <div class="col-lg-8 mx-3 mx-lg-auto pt-lg-4 mb-lg-5">
                        <form method = "post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="userFile" class="display-5 custom-label mb-md-3">Upload Excel file</label>
                            <div class="d-flex justify-content-md-start">
                                <div class="position-relative input-file-container overflow-hidden">
                                    <input class="position-absolute py-2 file-input" type="file" accept=".xlsx" id="userFile" , name = "myfile"/>
                                </div>
                                <button
                                    class="btn btn-outline-dark custom-file-btn pl-lg-2 d-flex px-4 px-md-2 pt-xl-3 px-lg-0 px-xl-2" id="attachBtn" type="button">
                                    <span class="mx-lg-0 ml-xl-1 mt-xl-1 mt-2 d-none d-md-block">ATTACH FILE</span><img
                                        src="/static/img/paperclip.svg" alt="clip"
                                        class="img-fluid mt-2 mt-xl-1 ml-md-1 ml-lg-0 mx-xl-2" />
                                </button>
                          
                            </div>
                     

                            <button  class="btn btn-dark py-2 custom-button mt-4 mb-5" type = "submit" name = "json">
                                PARSE TO JSON
                            </button>
                            <button  class="btn btn-dark py-2 custom-button mt-4 mb-5 " type = "submit" name = "csv">
                                PARSE TO CSV
                            </button>
                            <button  class="btn btn-dark py-2 custom-button mt-4 mb-5" type = "submit" name = "pdf">
                                PARSE TO PDF
                            </button>

                           
                           <!-- <input class="form-control custom-input mb-lg-4 mt-lg-5" type="text" placeholder="Type Excel column details here ...">
                            <button class="btn btn-dark px-4 py-2 custom-button mt-4" type="submit">SUBMIT</button>-->
                        </form>
                    </div>
                </div>
            </div>

    <script>
        $("#attachBtn").click(function () {
            $("#userFile").click();
        });
    </script>
{% endblock content %}
