{% load static %}
<!DOCTYPE html>

<html lang='en'>

    <head>

        <meta charset='UTF-8' />

        <meta name='viewport' content='width-device-width, initial-scale=1.0' />

        <title> Excel API </title>

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css' />

        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class='jumbotron jumbotron-fluid'>
            <div class='container-fluid' id='flex'>
                <div class='row' id='margin'>
                    <div class='col-lg-4 col-md-4' id='img'>
                        <img src='https://res.cloudinary.com/payne/image/upload/v1594338793/layers.png' alt='#' /> microAPI
                    </div>
                    <div class='col-lg-4 col-md-4'>
                        <nav class='nav nav-pills'>
                            <a class='nav-link active' href='#'>Home</a>
                            <a class='nav-link' href='#'>About Us </a>
                            <a class='nav-link' href='#'>Contact Us</a>
                            <a class='nav-link' href='#'>Documentation</a>
                        </nav>

                        <div class="navbar col-lg-4 col-md-4">
                        <div class="dropdown">
                            <button class="dropbtn">Home 
                            <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                            <a href="#">About Us</a>
                            <a href="#">Contact Us</a>
                            <a href="#">Documentation</a>
                            </div>
                        </div> 
                        </div>
                    </div>
<!--                    <div class='col-lg-4 col-md-4' id='h-btns'>-->
<!--                        <a href="#" class="btn btn-primary" id='sign-in-btn'>Sign in</a>-->
<!--                        <a href="#" class="btn btn-primary" id='sign-up-btn'>Sign up</a>-->
<!--                    </div>-->
                </div>
            </div>
        </div>

        <div class='container text_container'>
            <div class='row' id='flexed'>
                <div class='col-lg-6 col-md-6 col-sm-6 main_text' id='main_text'>
                    <h2> Welcome to the </h2> <h2>Excel API resource </h2>
                        <div class='row btn_div' id='btn_div'>
                            <a href="#" class="btn btn-primary ">FILE UPLOAD</a>
                            <a href="#" class="btn btn-primary ">CDN UPLOAD</a>
                        </div>
                </div>
                <div class='col-lg-6 col-md-6 col-sm-12'>
                    <img src='https://res.cloudinary.com/payne/image/upload/v1594341795/header_illustratn_1.png' class='main_img' alt='...' />
                </div>
            </div>
        </div>

        <footer>	&copy; 2020 microAPI </footer>
    </body>
</html>